In [32]:
import pandas as pd
import numpy as np

In [52]:
# initialize data

C:\Users\brian\AppData\Local\Temp\ipykernel_84160\1173815498.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Sex"] = df["Sex"].replace(["male", "female"], [0, 1]).astype('int64')
C:\Users\brian\AppData\Local\Temp\ipykernel_84160\1173815498.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Embarked"] = df["Embarked"].replace(["S", "C", "Q"], [0, 1, 2]).astype('int64')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  712 non-null    int64
 1   Pclass    712 non-null    int64
 2   Sex       712 non-null    int64
 3   Age       712 non-null    float64
 4   SibSp     712 non-null    int64
 5   Parch     712 non-null    int64
 6   Fare      712 non-null    float64
 7   Embarked  712 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 50.1 KB

In [54]:
df.head(n=40)

    Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0          0       3    0  22.0      1      0    7.2500         0
1          1       1    1  38.0      1      0   71.2833         1
2          1       3    1  26.0      0      0    7.9250         0
3          1       1    1  35.0      1      0   53.1000         0
4          0       3    0  35.0      0      0    8.0500         0
6          0       1    0  54.0      0      0   51.8625         0
7          0       3    0   2.0      3      1   21.0750         0
8          1       3    1  27.0      0      2   11.1333         0
9          1       2    1  14.0      1      0   30.0708         1
10         1       3    1   4.0      1      1   16.7000         0
11         1       1    1  58.0      0      0   26.5500         0
12         0       3    0  20.0      0      0    8.0500         0
13         0       3    0  39.0      1      5   31.2750         0
14         0       3    1  14.0      0      0    7.8542         0
15         1       2    1  55.0      0      0   16.0000         0
16         0       3    0   2.0      4      1   29.1250         2
18         0       3    1  31.0      1      0   18.0000         0
20         0       2    0  35.0      0      0   26.0000         0
21         1       2    0  34.0      0      0   13.0000         0
22         1       3    1  15.0      0      0    8.0292         2
23         1       1    0  28.0      0      0   35.5000         0
24         0       3    1   8.0      3      1   21.0750         0
25         1       3    1  38.0      1      5   31.3875         0
27         0       1    0  19.0      3      2  263.0000         0
30         0       1    0  40.0      0      0   27.7208         1
33         0       2    0  66.0      0      0   10.5000         0
34         0       1    0  28.0      1      0   82.1708         1
35         0       1    0  42.0      1      0   52.0000         0
37         0       3    0  21.0      0      0    8.0500         0
38         0       3    1  18.0      2      0   18.0000         0
39         1       3    1  14.0      1      0   11.2417         1
40         0       3    1  40.0      1      0    9.4750         0
41         0       2    1  27.0      1      0   21.0000         0
43         1       2    1   3.0      1      2   41.5792         1
44         1       3    1  19.0      0      0    7.8792         2
49         0       3    1  18.0      1      0   17.8000         0
50         0       3    0   7.0      4      1   39.6875         0
51         0       3    0  21.0      0      0    7.8000         0
52         1       1    1  49.0      1      0   76.7292         1
53         1       2    1  29.0      1      0   26.0000         0